Aztec_Codex_Mendozza.jpg filter=lfs diff=lfs merge=lfs -text
getty-raggedy-closeup.jpg filter=lfs diff=lfs merge=lfs -text
image_fx_ideas_and_stories_from_various_cultures_emerg.jpg filter=lfs diff=lfs merge=lfs -text
thinkmarketing.jpg filter=lfs diff=lfs merge=lfs -text
nimble_hat.jpg filter=lfs diff=lfs merge=lfs -text
promptecho.jpg filter=lfs diff=lfs merge=lfs -text
timbuktu.jpg filter=lfs diff=lfs merge=lfs -text
typographicalant00ames_0009-1434x2000.jpg filter=lfs diff=lfs merge=lfs -text
454665734_1668657717293075_6435984420298297126_n.jpg filter=lfs diff=lfs merge=lfs -text
codex-gigas.jpg filter=lfs diff=lfs merge=lfs -text
image_fx_schematic_illustration_of_a_codex_book_laying.jpg filter=lfs diff=lfs merge=lfs -text
index[[:space:]]of[[:space:]]technologies.jpg filter=lfs diff=lfs merge=lfs -text
c2gfromcli.jpg filter=lfs diff=lfs merge=lfs -text
Codex_Aureus_Sankt_Emmeram.jpg filter=lfs diff=lfs merge=lfs -text
Table_with_was_and_stylus_Roman_times.jpg filter=lfs diff=lfs merge=lfs -text
pub2kindle.jpg filter=lfs diff=lfs merge=lfs -text
Screenshot[[:space:]]2024-08-12[[:space:]]at[[:space:]]3.37.53 AM.jpg filter=lfs diff=lfs merge=lfs -text
ad33e835a2ad716db67acbda0ae3be741742223e.jpg filter=lfs diff=lfs merge=lfs -text
image1.jpg filter=lfs diff=lfs merge=lfs -text
image_fx_make_number_larger__in_hundreds_of_millions.jpg filter=lfs diff=lfs merge=lfs -text
tip.jpg filter=lfs diff=lfs merge=lfs -text
Screenshot[[:space:]]2024-08-12[[:space:]]at[[:space:]]3.34.15 AM.jpg filter=lfs diff=lfs merge=lfs -text
dedicationqe1spenser.jpg filter=lfs diff=lfs merge=lfs -text
foridiotsonly.jpg filter=lfs diff=lfs merge=lfs -text
image_fx_illustration_of_a_tree_styled_taxonomy_of_co.jpg filter=lfs diff=lfs merge=lfs -text
978-1-60888-294-6_cover.jpg filter=lfs diff=lfs merge=lfs -text
image_fx_a_cambrian_reef_scene_with_the_floor_covered.jpg filter=lfs diff=lfs merge=lfs -text
Bamboo_book_-_binding_-_UCR.jpg filter=lfs diff=lfs merge=lfs -text
gpu_hat.jpg filter=lfs diff=lfs merge=lfs -text
nimble_hat.png filter=lfs diff=lfs merge=lfs -text
tocpage.png filter=lfs diff=lfs merge=lfs -text
Screenshot[[:space:]]2024-08-11[[:space:]]at[[:space:]]10.28.13 PM.png filter=lfs diff=lfs merge=lfs -text
Screenshot[[:space:]]2024-08-11[[:space:]]at[[:space:]]10.28.51 PM.png filter=lfs diff=lfs merge=lfs -text
authorbiopage.png filter=lfs diff=lfs merge=lfs -text
indexpage.png filter=lfs diff=lfs merge=lfs -text
nimble_hat_2.png filter=lfs diff=lfs merge=lfs -text
Screenshot[[:space:]]2024-08-11[[:space:]]at[[:space:]]10.27.27 PM.png filter=lfs diff=lfs merge=lfs -text
Screenshot[[:space:]]2024-08-11[[:space:]]at[[:space:]]10.34.46 PM.png filter=lfs diff=lfs merge=lfs -text
bibliopage.png filter=lfs diff=lfs merge=lfs -text
dedicationpage.png filter=lfs diff=lfs merge=lfs -text
Ediacaran_sea.png filter=lfs diff=lfs merge=lfs -text
Screenshot[[:space:]]2024-08-11[[:space:]]at[[:space:]]10.27.17 PM.png filter=lfs diff=lfs merge=lfs -text
copyrightpage.png filter=lfs diff=lfs merge=lfs -text
chaptiltpage.png filter=lfs diff=lfs merge=lfs -text
titlepage.png filter=lfs diff=lfs merge=lfs -text
